@tailwind base;
@tailwind components;
@tailwind utilities;


/* toastify.css override */
.custom-toast { 
  @apply bg-sky-700 border border-white text-white rounded-xl px-4 py-2 shadow-md font-medium text-sm;
}
